.clock_rndr{
    display: inline-block;
}
.clock_rndr-delim{
    display: inline;
}
.clock_rndr-dig{
    display: inline-block;
}

.clock_rndr-dig__anim{
    display: inline-block;
    width: 14px;
    height: 32px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

.clock_rndr-dig__img{
    display: inline-block;
    width: 14px;
    height: 32px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
.clock_rndr-dig-set{
    width: 14px;
    height: 320px;
}
.clock_rndr-dig-set__down{
    position: absolute;
    bottom: 0;
}
.clock_rndr-dig-set-item{
    width: 14px;
    height: 32px;
    line-height: 32px;
    font-size: 26px;
    text-align: center;
}
.clock_rndr-dig-set-item__img{
    background: url('dig.png') no-repeat left top;
}

.clock_rndr-dig-set-item__0{
    background-position: left top;
}
.clock_rndr-dig-set-item__1{
    background-position: left -32px;
}
.clock_rndr-dig-set-item__2{
    background-position: left -64px;
}
.clock_rndr-dig-set-item__3{
    background-position: left -96px;
}
.clock_rndr-dig-set-item__4{
    background-position: left -128px;
}
.clock_rndr-dig-set-item__5{
    background-position: left -160px;
}
.clock_rndr-dig-set-item__6{
    background-position: left -192px;
}
.clock_rndr-dig-set-item__7{
    background-position: left -224px;
}
.clock_rndr-dig-set-item__8{
    background-position: left -256px;
}
.clock_rndr-dig-set-item__9{
    background-position: left -288px;
}